<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Book store</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <h1>YOU ARE NOW LOGGED IN AS {{ user_name }}</h1>
    <h1>YOU CAN LOGOUT HERE <form action="{{ url_for('logout') }}"><button type="submit">Logout</button></form></h1>

</body>



</html>